<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js" defer></script>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <form>
            <input type="text">
            <button class="btn">search</button>
        </form>

      <p class="forecastData"></p>
      <p class="location"></p>

    </div>
  
    {{>footer}}
</body>

</html>